body{
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background: url('img/fundoGame1.jpg');
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    height: 200px;
  }

  section, form{
    margin-top: 50px;
    padding: 0 40px;
  }

  section>div{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 2px dashed white;
    border-radius: 50px;
    padding: 20px 0;
  }

  section button{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Comic Sans MS', sans-serif;
    color: black;
    font-weight: bolder;
  }

  section>div:first-child>input{
    border-radius: 5px;
  }
  
  #check-generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    height: 100px;
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  #relevancia{
    display: flex;
    justify-content: space-around;
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
  }

  .block{
    display: block;
  }